{% extends 'sidebar.html.twig' %}

{% block title %}
  Prueba - {{ usuario }}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h2>{{ filename }}</h2>
    <p>{{ filecontent }}</p>
  </div>
{% endblock %}
