<style>
  ul {
    list-style-type: none;
    padding-left: 0.5em;
  }

  .nested {
    margin-left: 0.5em;
  }

  .toggle-dir:hover {
    text-decoration: underline;
  }
</style>

<ul style="user-select: none;">
  {% for directorio in directorios %}
    <li>
      {% if directorio.type == 'dir' %}
        <span class="toggle-dir" style="cursor: pointer;">
          <i class="bi bi-folder-plus me-1"></i>{{ directorio.name }}
        </span>
        <ul class="nested" style="display: none;">
          {% include 'repository/recursiveRepo.html.twig' with { 'directorios': directorio.content } %}
        </ul>
      {% else %}
        <i class="bi bi-file-earmark-text me-1"></i>
        <span class="file-link" data-filepath="{{ directorio.fullPath ?? '' }}" data-is-image="{{ directorio.isImage ? 'true' : 'false' }}" style="cursor: pointer;">
          {{ directorio.name }}
        </span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
